aiohttp==3.7.4.post0
cryptography==3.4.6
PyMySQL==1.0.2
#pg8000==1.17.0
git+https://github.com/tlocke/pg8000.git@37dcbe3#egg=pg8000
pyopenssl==20.0.1
pytest==6.2.2
Requests==2.25.1
google-api-python-client==2.0.2
