pytest==7.4.4
mock==5.1.0
pytest-cov==4.1.0
pytest-asyncio==0.23.4
SQLAlchemy==2.0.26
sqlalchemy-pytds==1.0.0
sqlalchemy-stubs==0.4
PyMySQL==1.1.0
pg8000==1.30.4
asyncpg==0.29.0
python-tds==1.15.0
aioresponses==0.7.6
